.btn.books-preview-sporty-sam-dream-team-the-dream-begins,
.btn.books-preview-sporty-sam-dream-team-the-dream-begins:hover,
.btn.books-preview-sporty-sam-dream-team-the-dream-begins:focus {
  background: black;
  background-size: cover;
  background-position: center;
  border: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  height: 100%;
  line-height: 100%;
  padding-left: 5px;

  .books-preview-contents {
    background: rgb(134, 26, 245);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: $shadowImg;
    border-top: 20px solid red;
    border-left: 0px;

    .books-preview-title {
      color: white;
    }

    .books-preview-image {
      border: 0px;
    }
  }
}
  
.home-credits-page-body,
.books-title-main-body-zene-n-zeanne-au-some-blogs,
.books-content-main-body-zene-n-zeanne-au-some-blogs,
.books-title-main-body-zene-n-zeanne-social-snapshots,
.books-content-main-body-zene-n-zeanne-social-snapshots {
  font-family: "Chalkduster", "Gill Sans Bold", "Segoe UI", Arial, Helvetica, sans-serif;
  color: blue;
  background: url("../images/Au-Some\ Blogs\ Background.png"), rgb(255, 234, 183);
  background-size: 90%;
  background-position: center;
  box-shadow: $shadowCenter;
  border-left: 20px dotted gray;
  min-height: 8.26in;

  .accordion-item {
    background: rgba(0, 0, 0, 0);
  }

  .accordion-button {
    background-color: $primaryColor;
    background: url("../images/BlueCrayonBackground.png");
    color: white;
    display: block;
  }

  .accordion-button::after {
    display: none;
  }

  .accordion-header {
    background: rgba(0, 0, 0, 0);
  }

  .books-content-preview-image,
  .books-content-preview-image:hover,
  .books-content-preview-image:focus {
    border: 0px;
    box-shadow: none;
  }

  .hero,
  .books-content-preview-title,
  .books-title-main-body-name {
    color: #00f;
  }

  .ext-web-link,
  .ext-web-link:hover {
    color: blue;
  }

  .ext-web-link:hover {
    background: rgba(0, 205, 0, 0.5);
    border-left: 5px solid rgba(0, 139, 0, 0.7);
    border-right: 5px solid rgba(0, 139, 0, 0.7);
    box-shadow: none;
    border-radius: 0px;
  }
}

.books-title-main-sporty-sam-dream-team-the-dream-begins,
.books-content-main-sporty-sam-dream-team-the-dream-begins {
  background: #454545;
  border-top: 20px solid gray;
  border-bottom: 20px solid gray;
  box-shadow: $shadowCenter;
}

.books-title-main-body-sporty-sam-dream-team-the-dream-begins,
.books-content-main-body-sporty-sam-dream-team-the-dream-begins {
  font-family: "Krungthep", "Gill Sans Bold", "Segoe UI", Arial, Helvetica, sans-serif;
  color: rgba(51, 228, 255, 0.8);
  background: url("../images/SportySamVisorBackgroundSam.png"), #8518f6;
  background-size: 40%;
  background-position: center;
  box-shadow: $shadowCenter;
  border: 20px solid gray;
  border-radius: 20%;
  height: 5in;
  overflow-y: scroll;

  .books-content-preview-image,
  .books-content-preview-image:hover,
  .qr-code {
    border: 7px solid rgba(51, 228, 255, 0.8);
    border-radius: 10px;
  }

  .books-content-preview-title,
  .books-title-main-body-name {
    color: rgba(51, 228, 255, 0.8);
  }

  .accordion-item {
    background: rgba(0, 0, 0, 0);
  }

  .accordion-button {
    background-color: rgba(51, 228, 255, 0.8);
    color: white;
    display: block;
  }

  .accordion-button::after {
    display: none;
  }

  .accordion-header {
    background: rgba(0, 0, 0, 0);
  }

  .badge {
    background-color: rgba(51, 228, 255, 0.8) !important;
  }
}

.all-titles-main-quizzes,
.media-preview-main-quizzes,
.all-titles-main-sticker-packs,
.media-preview-main-sticker-packs {
  font-family: "Gill Sans Bold", "Segoe UI", Arial, Helvetica, sans-serif;
  border-left: 10px dashed black;
}

.comic-strip-main-caption-slideshow {
  font-family: "Felt Tip Roman Bold", "Felt Tip Roman Regular", "Gill Sans Bold", "Segoe UI", Arial, Helvetica, sans-serif;

  .profile-caption {
    font-family: "Felt Tip Roman Bold", "Felt Tip Roman Regular", "Gill Sans Bold", "Segoe UI", Arial, Helvetica, sans-serif;
  }
}

.tv-background {
  padding: 3%;

  .all-titles-main-read-along,
  .all-titles-main-buddies-next-door,
  .media-preview-main-read-along,
  .media-preview-main-buddies-next-door,
  .tv-contents {
    border: 20px solid rgb(188, 188, 188);
    border-radius: 5px;
    box-shadow: $shadowCenter;
    background-image: url("../images/Zene\ N\ Zeanne\ Background.png");
    background-size: cover;
    color: white;
    height: 5in;
    overflow-y: scroll;
  }
}

.tv-background,
.tv-background-zene-n-zeanne-bedroom-v4 {
  background: rgb(255, 246, 204);
}

.tv-background-zene-n-zeanne-bedroom-v2 {
  background: #fcc300;
}

.tv-background-zene-n-zeanne-classroom-v4 {
  background: #269bdf;

  .tv-contents {
    border: 20px solid black;
  }
}

.tv-background-zene-n-zeanne-classroom-v2 {
  background: #fee4c1;
  border-bottom: 30px solid #2da4a8;

  .tv-contents {
    border: 20px solid black;
  }
}

.vr-background,
.vr-background-sam {
  background: #454545;
  border-top: 20px solid gray;
  border-bottom: 20px solid gray;
  box-shadow: $shadowCenter;

  ol,
  .comic-strip-main,
  .home-credits-page,
  iframe {
    font-family: "Krungthep", "Gill Sans Bold", "Segoe UI", Arial, Helvetica, sans-serif;
    color: rgba(51, 228, 255, 0.8);
    background: url("../images/SportySamVisorBackgroundSam.png"), #8518f6;
    background-size: 40%;
    background-position: center;
    box-shadow: $shadowCenter;
    border: 20px solid gray;
    border-radius: 20%;
    height: 5in;
    overflow-y: scroll;

    .comic-strip-page {
      border: 7px solid rgba(51, 228, 255, 0.8);
      border-radius: 10px;
      box-shadow: none;
    }

    h1, h2 {
      color: rgba(51, 228, 255, 0.8);
    }

    .comic-strip-page-thumbnail {
      border: 0px;
      box-shadow: none;
      background: rgba(0, 0, 0, 0);

      .comic-strip-page {
        border: 7px solid rgba(51, 228, 255, 0.8);
        border-radius: 10px;
      }

      h2 {
        color: rgba(51, 228, 255, 0.8);
      }
    }

    .comic-strip-page-thumbnail:hover,
    .comic-strip-page-thumbnail:focus {
      border: 0px;
      box-shadow: none;
      background: rgba(51, 228, 255, 0.8);
      border-radius: 10px;

      .comic-strip-page {
        border: 7px solid rgba(51, 228, 255, 0);
        border-radius: 10px;
      }

      h2 {
        color: white;
      }
    }

    .comic-strip-page-thumbnail-current {
      .comic-strip-page-number {
        background: rgba(51, 228, 255, 0.8);
        border-left: none;
        border-right: none;
      }

      h2 {
        color: white;
      }
    }

    .comic-strip-page-thumbnail-current:hover,
    .comic-strip-page-thumbnail-current:focus {
      .comic-strip-page-number {
        background: rgba(0, 0, 0, 0);
        border-left: none;
        border-right: none;
      }

      h2 {
        color: white;
      }
    }

    .ext-web-link,
    .ext-web-link:visited {
      color: rgba(51, 228, 255, 0.8);
      text-decoration: none;
    }

    .ext-web-link:hover {
      color: #fff;
      text-decoration: none;
      background: rgba(51, 228, 255, 0.8);
      box-shadow: none;
      padding: 2px 10px;
      border: none;
      border-radius: 0px;
    }

    .credits-photo-border {
      border: none;
      background-color: rgba(0, 0, 0, 0);

      .credits-photo-main {
        border: none;
        background-color: rgba(0, 0, 0, 0);
      }
    }
  }
}

.vr-headset {
  border: 20px solid gray;
  border-radius: 20%;
}